body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-wrap: nowrap;
}

section {
  height: 400px;
  width: 33%;
  border: 2px solid blue;
}

.google-map {
  width: 67%;
  border: 2px solid blue;
}

.container-element {
  height: 400px;
}

.map-element {
  height: 100%;
}

.app-footer {
  height: 80px;
  background-color: aliceblue;
  padding: 20px;
  color: blue;
  border: 2px solid blue;
}

.hotel-list {
  list-style: none;
  text-align: left;
}

@media screen and (max-width: 549px) {
  main {
    flex-wrap: wrap;
  }  
  .app-section, .google-map {
    width: 100%;
  }
}

.modal-window {
  height: 200px;
  width: 80%;
  border: 2px solid blue;
  margin: 10%;
}