body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-wrap: nowrap;
}

section {
  height: 600px;
  width: 33%;
  border: 2px solid blue;
}

.google-map {
  width: 67%;
  border: 2px solid blue;
}

.container-element {
  height: 600px;
}

.map-element {
  height: 100%;
}

.app-footer {
  height: 80px;
  background-color: aliceblue;
  padding: 20px;
  color: blue;
  border: 2px solid blue;
}

.hotel-list {
  list-style: none;
  text-align: left;
  margin-left: 20px;
}

@media screen and (max-width: 549px) {
  main {
    flex-wrap: wrap;
  }  
  .app-section, .google-map {
    width: 100%;
  }
}

@media screen and (min-width: 550px) and (max-width: 900px){
  .app-section, .google-map {
    width: 50%;
  }
}


.modal-window {
  height: 350px;
  width: 290px;
  border: 2px solid blue;
  margin: auto;
}

.photo-figure {
  border: 2px solid red;
  height: 250px;
  width: 250px;
  margin: auto;
  display: flex;
}

img {
  object-fit: contain;
  object-position: 0 0;
  flex: 1;
}

button {
  margin-top: 10px;
}